<button class="btn rounded-3 bg-success text-light mb-2 mx-3" id="comment-button" data-visible="true">Add
    Comment</button>
<form action="" class="d-none" id="comment-form">
    <div class="bg-secondary w-100">&nbsp;
    </div>
    <p class="m-3">Comment</p>
    <textarea class=" rounded-2 mx-3 mb-3" name="comment" id="comment-input"></textarea>
    <button class="mx-3 mb-3 btn bg-success">Submit</button>
</form>
<script src="/js/comment.js"></script>