<section
    class="card col-12 border-secondary border-5 mb-3 d-flex flex-column justify-content-between bg-primary-subtle">
    <div class="bg-secondary w-100">&nbsp;
    </div>
    <p class="mx-3 mt-3 mb-1">{{comment_body}}</p>
    <p class="mx-3 mb-3">--{{user.name}},{{format_date date}}</p>
</section>