<div>
    <button id="comment-button">Add Comment</button>
    <form action="" class="d-none" id="comment-form">
        <div>
        </div>
        <p>Comment</p>
        <textarea name="comment" id="comment-input"></textarea>
        <button>Submit</button>
    </form>
</div>