<a class="link-underline link-underline-opacity-0 rounded-4 bg-secondary-subtle p-3 d-flex justify-content-between w-100 m-3 border border-secondary border-opacity-100"
    href="/post/edit/{{id}}">
    <p class="text-dark link-underline link-underline-opacity-0">{{title}}</p>
    <p class="text-dark link-underline link-underline-opacity-0">{{date}}</p>
</a>