<div class="d-flex justify-content-center align-items-center m-3 px-3 flex-column">
    {{#each posts as |post|}}
    {{> preview}}
    {{/each}}
    <a href="/post/create"><button class="btn btn-success" id="new-post">+ New Post</button></a>
</div>