<div class="d-flex justify-content-center m-3 px-3 flex-column bg-primary-subtle">
    <form action="" class="account-form card col-12 border-secondary border-5 bg-primary-subtle">
        <h2 class="d-flex justify-content-between bg-secondary align-items-center py-2 px-3 text-light">
            {{#if sign_in}}
            Login
            {{else}}
            Sign Up
            {{/if}}
        </h2>
        <div class="d-flex justify-content-center flex-column p-3">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <button type="submit" class="btn btn-primary">{{#if sign_in}}Sign In{{else}}Sign Up!{{/if}}</button>
        </div>
    </form>
    {{#if sign_in}}
    <a href="/signup">Sign up instead</a>
    {{else}}
    <a href="/login">sign in instead</a>
    {{/if}}
</div>
{{#if sign_in}}
<script src="./js/login.js"></script>
{{else}}
<script src="./js/signup.js"></script>
{{/if}}