<div class="d-flex justify-content-center align-items-center m-3 px-3 flex-column" id="post-view" data-id="{{id}}">
    {{> post}}
    {{> commentForm}}
    {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
</div>